doctype html
html
    head
        title Ask Around
    body
        h1 Login
        p: a(href="/fake-create") Create fake user
        p
            form(action='/fake-login')
                input(type='text', name='uid')
                button(type='submit') Fake Login