extends layout.pug

block content
    if asks.length
        ul.list-unstyled
            each ask in asks.filter(function(a) {return a.status !== 'cancelled'})
                li.ask
                    div.row.ask-head
                        //-
                            div.col-3.ask-title
                                h5 #{ask.title}
                            div.col-2.offset-7.text-right.ask-bid #{ask.bid}
                    div.row.ask-body
                        div.col-12.text-justify #{ask.body}
                    div.row.ask-bottom
                        if ask.status === 'created'
                            a.col-2(href='/ask/' + ask._id + '/propagate') propagate
                            a.col-2(href='/ask/' + ask._id + '/cancel') cancel
                        else if (ask.status === 'travelling')
                            div.col: i Already propagated at !TODO, reached !TODO peers after you
                        else
                            dev.col: i Cancelled
                        //-
                            div.col-10.ask-tags
                                each tag in ask.tags
                                    span.ask-tag #{tag}
    else
        h6: i You have no sent asks yet