.nav-link {
    padding-right: 0;
    padding-top: 0;
}

.ask {
    background: #EEF7FA;
    padding: 10px 10px 0;
    margin-top: 20px;
    border-bottom: 2px solid #8AACB8;
}

.ask-bottom {
    margin-top: 20px;
}